.containerHome {
  padding: 40px;
  h1 {
    padding: 50px 60px;
  }
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-self: center;
}
