.AttributeSelector {
  // margin: 0 !important;
  padding: 2% 0;

  .Title {
    margin-bottom: 2px;
    font-family: var(--font-roboto);
    font-size: 1rem;
  }

  .Selector {
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    // justify-content: space-between;
    text-align: center;

    .SizeActive,
    .SizeSelector,
    .PassiveSize {
      display: block;
      font-family: 'Source Sans Pro', sans-serif;
      width: 30%;
      height: 2.5em;
      text-align: justify;
      font-size: 0.7rem;
      font-weight: var(--fw-500);
      border: 1px solid var(--black);

      margin-right: 4px;

      text-align: center;

      p {
        padding: 7px 0;
      }
    }

    .SizeSelector {
      background-color: var(--white);
      color: var(--black);

      cursor: pointer;
      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }

    .SizeActive {
      background-color: var(--black);
      color: var(--white);
    }

    .PassiveSize {
      background-color: var(--white);
      color: var(--black);
    }

    .ColorSelector,
    .ColorSelectorActive,
    .PassiveColor {
      width: 1.5em;
      height: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1px;
      margin-right: 2px;

      div {
        width: 95%;
        height: 95%;
        border: 1px solid var(--light-gray);
      }
    }

    .ColorSelector {
      cursor: pointer;
      &:hover {
        border: 1px solid var(--primary);
        div {
          border: none;
        }
      }
    }

    .ColorSelectorActive {
      border: 1px solid var(--primary);
      div {
        border: none;
      }
    }
  }
}
